body {
	font-family: Verdana;
}

.header {
	font-size: 42px;
	font-weight: 700;
	margin-left: 50px;
}

.revision {
	font-size: 12px;
	margin-left: 5%;
}

.spacer {
	width: 8px;
	float:left;
	height:12px;
}

.commit_history {
	width: 50%;
	margin-left: 5%;
}

.commit-row {
	margin: 2px;
	margin-top: 10px;
	padding: 4px;
	border-radius: 4px;
	background-color: #f9f9f9;
}

.tags-line {
	margin:0px;
	margin-left: 10px;
	padding:0px;
	height: 20px;
}

.tag {
	width: auto;
	float: left;
	border-radius: 2px;
	height: 12px;
	padding: 2px;
	font-size: 8px;
	margin-left: 10px;
	margin: 2px;
}

.meta {
	border-radius: 2px;
	padding: 2px;
	height: 18px;
	margin: 1px;
}

.timestamp {
	margin: 1px;
	float:left;
	font-size: 12px;
}
.username {
	margin: 1px;
	float:left;
	font-size: 14px;
}
.hash {
	margin: 1px;
	float:left;
	font-size: 12px;
}
.summary {
	margin: 1px;
	margin-top: 3px;
	border-radius: 2px;
	background-color: #FFF;
	padding: 2px;
	font-size: 16px;
}

.v { background-color: #34D; }
/*version*/

.minor { background-color: #CCC; }
.major { background-color: #DDD; }
.bugfix { background-color: #D43; }

.ui { background-color: #F99; }
.js { background-color: #9F9; }

.awesome { background-color: #FF0; }