
	.progress-bar {
		top: 50px;
		margin-left:auto;
		margin-right:auto;
		padding:0px;
		width: 500px;
		height: 10px;
		border-style:solid;
		border-color:#bbddff;
	}
	.ui-progressbar-value {
		background: -webkit-linear-gradient(#bbddff, #77aacc);
		background: -o-linear-gradient(#77aacc);
		background: -moz-linear-gradient(#77aacc);
		background: linear-gradient(#bbddff, #77aacc);
		padding:1px;
		margin: 2px;
	}
	.progress-label {
		position: relative;
		width: 100%;
		text-align: center;
		top: 1px;
		font-weight: bold;
		text-shadow: 1px 1px 0 #fff;
		font-size: 8px;
	}

	#sliders {
		float: left;
	}
		
	#a-slider, #b-slider, #c-slider{
		float: left;
		/*width: 0.6em;*/
		height: 125px;
		margin: 30px;
	}
	#date-slider {
		float: left;
		width: 100px;
		margin: 15px;
	}
	
	#ds-val {
		float: left;
		margin: 10px;
	}
	
	#swatch {
		width: 120px;
		height: 100px;
		margin-top: 18px;
		margin-left: 350px;
		background-image: none;
	}
	#a-slider .ui-slider-range { background: #ef2929 !important; }
	#a-slider .ui-slider-handle { border-color: #ef2929; }
	#b-slider .ui-slider-range { background: #8ae234 !important; }
	#b-slider .ui-slider-handle { border-color: #8ae234; }
	#c-slider .ui-slider-range { background: #729fcf !important; }
	#c-slider .ui-slider-handle { border-color: #729fcf; }
	
	html {
		background-color: #fc8;
		overflow: hidden;
		width:100%;
		height:100%;
	}
	
	.window {
		width: 40%;
		height: 40%;
		position: absolute;
		top: 10%;
		left: 30%;
		
		border-radius: 10px;
		border: 5px solid #8ab;
		
		background-color: #a0a0b0;
		z-index:9999;
		box-shadow: 0px 3px 6px 4px rgba(10, 10, 0, 0.5);
		
	}
	
	.window .header {
		/*the title*/
		margin-left:auto;
		margin-right:auto;
		margin-bottom: 10px;
		text-align:center;
		padding:5px;
		font-weight: 800;
		font-size: 30px;
	}
	
	.window .line {
		display:block;
		border:none;
		color:white;
		height:1px;
		background:black;
		background: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 290, from(#000), to(#a0a0b0));
	}
	
	.window .content {
		height: 70%;
		bottom: 10px;
		width: 96%;
		margin: 5px 5px 70px 5px;
		background-color: #9a9aaa;
		border-radius: 10px;
		box-shadow: 0px 0px 6px 1px rgba(154, 154, 170, 1);
		padding:5px;
	}
	#level {
		position: fixed;
		width: 100%;
		height: 95%;
		z-index:-5;
		margin: 0;
		padding: 0;
		background-image: url('../../images/garage_1.png');
		background-position: center;
		background-repeat:no-repeat;
	}
	
	.buttons {
		position: absolute;
		z-index : 0;
		display:inline;
	}
	
	.menu-button {
		padding: .4em 1em .4em 20px; 
		text-decoration: none !important; 
		position: relative;
	}
	
	#notifications-button {
		display: inline;
		position: relative;
		bottom:20px;
	}
	
	.game-dialog { 
	
	}
	#tabs .tabs { 
		padding: 1px; 
		font-size: 14px; 
	}
	#tabs .tab { 
		padding: 1px; 
		font-size: 14px; 
	}
	.ui-tabs .ui-widget .ui-widget-content { 
		border: 0px;
	}
	.no-close .ui-dialog-titlebar-close { 
		display: none; 
	}
	
	.thin .ui-dialog-title{
		display:inline-block;
		position:absolute;
		font-size: 16px;
		padding:0;
		margin:0;
	}
	.thin .ui-dialog-titlebar  {
		height: 20px;
		margin:0;
		padding:0;
	}
	.invert .ui-dialog-titlebar {
		cursor:move;
		background: #777777;
		color: #9ECEE8;
		transition: background 0.2s;
	}
	
	.invert .ui-dialog-titlebar:hover {
		cursor:move;
		background: #999999;
		color:#eeefff;
	}
	
	.invert .ui-dialog-content {
		/* background: -webkit-linear-gradient(#cccccc, #777777);
		background: linear-gradient(#cccccc, #777777);
		*/
		/*background: #2779aa; */
		color: #3baae3;
	}
	
	.s { width: 26px; height: 26px; border:0; position:absolute; left:0px; top:0px; z-index:0;}
	
	.sc { width: 26px; height: 26px; border:0; display:inline-block; position:absolute; padding:0px z-index:100;;
	background:#777777;
	-webkit-transition: color 0.2s linear, background 0.1s linear;     
    transition: color 0.2s linear, background 0.1s linear;
	}
	.sc:hover {
		background-color:#cccccc;
	}
	.sc:active {
		background-color:#ffffff;
	}

	#pause, #prev, #next { border-radius:4px; display: inline; margin:4px; position: relative;}
	
	#ps { border-radius:4px; background: url('images/playback-ui2.png') 0 -26px;  }
	#pr{ border-radius:4px; background: url('images/playback-ui2.png') -52px -26px; }
	#nx { border-radius:4px; background: url('images/playback-ui2.png') -26px -26px; }
	/*
	*:not(input) {
	 cursor:context-menu;
	}
	*/
	
	*:not(input){
	 -webkit-user-select: none;
	 -moz-user-select: none;
	 -ms-user-select: none;
	 user-select: none;
	}
	
	::selection {background: transparent;}
	input::selection {background: rgba(0,0,0,.2); color: white;}
	::moz-selection {background: transparent;}
	input::-moz-selection {background: rgba(0,0,0,.2); color: white;}
	
	#vol-slider {
		font-size: 10px;
		background:rgba(200,225,255,0.5);
	}
	#vol-slider .ui-slider-handle {
		
	}
	#vol-slider .ui-slider-range { background:rgba(200,225,255,0.9); }
	/*
	.ui-menu .ui-menu-item {
		background: linear-gradient(#ffffff, #C1E0F0, #9ECEE8);
		background-repeat:no-repeat;
		background-size:0% 100%;
		-webkit-transition: background-size 0.2s;
		-moz-transition: background-size 0.2s;
		transition: background-size 0.2s;
	}
	
	.ui-menu .ui-menu-item:hover {
		background-size:100% 100%;
	}
	*/
	#stats { font-size: 16px; }
	
	.console {
		width:100%;
		height:100%;
		line-height:3em;
		overflow-y:scroll;
		font-size: 10px;
		display:inline-block;
		line-height:11px;
	}